{% extends 'layout.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}
<!-- Esto es un comentario en HTML-->
<h1>{{title}}</h1>

{{mi_variable}} <br>

{% if nombre and nombre == 'Alex' %}

    <p>{{nombre}}</p> <br>

{% else %}

    <strong>El nombre no existe o no coincide</strong> <br>

{% endif %}

<h2>Listado de lenguajes de programacion</h2>

<ul>
    {% for lenguaje in lenguajes %}
        <li>{{lenguaje}}</li>
    {% empty %}
        <p>NO HAY LENGUAJES QUE MOSTRAR</P>

    {% endfor %}
</ul>


<strong>Inicio de la pagina</strong>

{% endblock %}