<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %} |
        Alejandro Hernandez
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
</head>

<body>

    <!-- Cabecera de la pagina-->
    <header>
        <div id="logotipo">
            <!--Logo Dejango-->
            <img class="logo" src="{% static 'imgs/logo.png' %}" alt="logo Django">
            <h1 class="titulo">Sitio Web con Django</h1>
        </div>

        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'hola_work' %}">Hola Trabajo</a>
            <a href="{% url 'pagina' %}">Pagina de pruebas</a>
            <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
    </header>

    <div id="content">
        <h2 class="title">Titulo de prueba</h2>
        {% block content %}
        <strong>Contenido del bloque original</strong>
        {% endblock %}
    </div>

    <footer>
        Master en Python - {% now 'Y' %}
    </footer>
</body>

</html>